[submodule "local_src/binutils"]
	path = local_src/binutils
	url = git://gitorious.org/mbref/binutils-microblaze.git
[submodule "local_src/gcc"]
	path = local_src/gcc
	url = git://gitorious.org/mbref/gcc-microblaze.git
[submodule "local_src/newlib"]
	path = local_src/newlib
	url = git://gitorious.org/mbref/newlib-microblaze.git
[submodule "local_src/eglibc"]
	path = local_src/eglibc
	url = git://gitorious.org/mbref/eglibc-microblaze.git
[submodule "local_src/linux"]
	path = local_src/linux
	url = git://gitorious.org/mbref/linux-mbref-26.git
[submodule "local_src/gdb"]
	path = local_src/gdb
	url = git://gitorious.org/mbref/gdb-microblaze.git
